[submodule "libgphoto2"]
	path = src/libgphoto2
	url = ../libgphoto2.git
	branch = master
[submodule "gphoto2"]
	path = src/gphoto2
	url = ../gphoto2.git
	branch = master
[submodule "gphoto2-manual"]
	path = src/gphoto2-manual
	url = ../gphoto2-manual.git
	branch = master
[submodule "src/gtkam"]
	path = src/gtkam
	url = ../gtkam.git
	branch = master
[submodule "src/libexif"]
	path = src/libexif
	url = https://github.com/libexif/libexif.git
	branch = master
[submodule "src/libexif-gtk"]
	path = src/libexif-gtk
	url = https://github.com/libexif/libexif-gtk.git
	branch = master
[submodule "src/gphoto-m4"]
	path = src/gphoto-m4
	url = ../gphoto-m4.git
	branch = master
